#header {
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding-top: 60px;
    &--block {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 390px;
      height: 844px;
      background: url(../../img/unsplash_Bq7nHY4trGA.png);
      button {
        width: 196px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 40px;
        background: #f00;
        border: none;
        color: #fff;
        margin-top: 20px;
        font-family: sans-serif;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
      }
      h1 {
        color: #fff;
        text-align: center;
        font-family: sans-serif;
        font-size: 35px;
        font-weight: 700;
        margin-top: 80px;
      }
      h3 {
        color: #fff;
        text-align: center;
        font-family: sans-serif;
        font-size: 25px;
        font-weight: 100;
        margin-top: 10px;
      }
      .text {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 88%;
        margin-bottom: 10px;
        margin-top: 40px;
        p {
          color: #fff;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 400;
        }
        h4 {
          color: #f90;
          text-align: right;
          font-family: sans-serif;
          font-size: 16px;
          font-weight: 400;
        }
      }
      &__list {
        .block {
          width: 372px;
          height: 210px;
          border-radius: 10px;
          flex-shrink: 0;
          margin-bottom: 20px;
          background: url(../../img/Gousian.png) no-repeat center/cover;
          .div1 {
            padding-left: 30px;
            padding-top: 25px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 85%;
            img {
              width: 60px;
              height: 60px;
              object-fit: cover;
            }
            div {
              display: flex;
              gap: 10px;
              h3 {
                color: white;
                font-size: 28px;
                font-weight: 400;
              }
            }
          }

          h1 {
            padding: 15px 0;
            color: #fff;
            font-family: sans-serif;
            font-size: 22px;
            font-weight: 400;
            letter-spacing: 1px;
            margin: 0;
            margin-left: -28px;
          }
          .div2 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80%;
            margin-left: 30px;
            h2 {
              color: #fff;
              font-family: sans-serif;
              font-size: 14px;
              font-weight: 300;
              margin-bottom: 5px;
            }
          }
          .div3 {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-left: 30px;
            width: 75%;
            h1 {
              color: #fff;
              font-family: sans-serif;
              font-size: 19px;
              font-weight: 400;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
    }
    &--block1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 390px;
      height: 844px;
      background: url(../../img/unsplash_Bq7nHY4trGA.png);
      h1 {
        color: #fff;
        font-family: sans-serif;
        font-size: 30px;
        font-weight: 700;
        margin-top: 80px;
        margin-bottom: 40px;
      }
      .taxt {
        width: 362px;
        height: 534px;
        flex-shrink: 0;
        border-radius: 15px;
        background: #fff;
        margin-bottom: 30px;
        .homeText {
          // background: red;
          position: relative;
          padding-top: 10px;
          height: 90px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-around;
          // gap: 60px;
          transition: 0.3s;
          .Mbank {
            margin: 0;
            .text {
              display: flex;
              align-items: center;
              img {
                width: 100px;
                height: 45px;
                // border: 2px solid black;
                object-fit: cover;
              }
              h1 {
                margin: 0;
                color: black;
                font-size: 40px;
                height: 40px;
                cursor: pointer;
              }
            }
            .block {
              margin: 0;
              position: absolute;
              top: 120%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 90%;
              height: 60px;
              background: rgb(255, 255, 255);
              // border-bottom: 3px solid black;
              border-radius: 5px;
              padding: 0 10px;
              box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.77);
              -webkit-box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.77);
              -moz-box-shadow: 10px 10px 10px -6px rgba(0, 0, 0, 0.77);
              transition: 0.6s;
              display: flex;
              align-items: center;
              justify-content: space-between;
              .Htext {
                top: 98%;
                left: 76%;
                transform: translate(-50%, -50%);
                width: 33%;
                height: 2px;
                position: absolute;
                background: black;
                transition: 0.5s;
              }
              img {
                cursor: pointer;

                width: 90px;
                height: 40px;
                // border: 2px solid black;
                object-fit: cover;
              }
            }
          }
        }
        .color {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          border: 1px solid black;
          transition: 0.3s;
          div {
            margin: 0;
            transition: 0.3s;
          }
          .block {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
            background: rgb(177, 168, 156);
            border-radius: 50%;
            border: 1px solid black;
            background-color: red;
            cursor: pointer;
          }
          .red {
            width: 45px;
            height: 45px;
            background: rgb(40, 37, 37);
            border-radius: 100% 0 0 0;
          }
          .green {
            width: 45px;
            height: 45px;
            background: rgb(167, 7, 7);
            border-radius: 0 100% 0 0;
          }
          .blue {
            width: 45px;
            height: 45px;
            background: rgb(6, 139, 192);
            border-radius: 0 0 0 100%;
          }
          .yellow {
            width: 45px;
            height: 45px;
            background: #ffd700;
            border-radius: 0 0 100% 0;
          }
        }
        .text1 {
          margin-left: 0;
          display: flex;
          flex-direction: column;
          gap: 20px;
        }
        h3 {
          color: #f90;
          font-family: sans-serif;
          font-size: 18px;
          font-weight: 600;
          margin-left: 25px;
          margin-top: 30px;
          margin-bottom: 30px;
        }
        div {
          margin-left: 25px;
          p {
            color: rgba(0, 0, 0, 0.25);
            font-family: sans-serif;
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
          }
          input {
            width: 310px;
            font-size: 19px;
            letter-spacing: 1px;
            border: none;
            border-bottom: 3px solid #000000b2;
            outline: none;
            &::placeholder {
              color: black;
            }
          }
        }
        .list {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 85%;
          cursor: pointer;
          h3 {
            margin-top: 20px;
            margin-left: 0;
          }
          .dark {
            width: 60px;
            height: 20px;
            background: #f90;
            border-radius: 20px;
            display: flex;
            align-items: center;
            justify-content: start;
            transition: 0.3s;
            div {
              width: 30px;
              height: 30px;
              background: #042843;
              border-radius: 50%;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      button {
        width: 196px;
        height: 50px;
        flex-shrink: 0;
        border-radius: 40px;
        background: #f90;
        color: #fff;
        font-family: sans-serif;
        border: none;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: 1px;
      }
    }
  }
}
